.game {
  max-width: 1140px;
  padding: 2rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__control {
    margin-bottom: 3rem;

    // Возможно поменять
    width: 50vh;

    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  &__board {
    background-color: azure;

    // Возможно поменять
    height: 50vh;
    aspect-ratio: 1 / 1;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;

    margin-bottom: 3rem;
  }

  &__buttons {
    display: flex;
    width: 20vh;
    justify-content: space-between;
  }
}
