.board {
  // component for board

  &__cell {
    background-color: beige;
    aspect-ratio: 1 / 1;
    width: 100%;

    // display: flex;
    justify-content: center;
    align-items: center;
  }
}
